<h1>Show user</h1>

<div class="row">
  <dl class="user-info dl-horizontal col-md-6 col-md-offset-3">
    <dt>Name</dt>
    <dd><%= @user.name %></dd>
    <dt>Email</dt>
    <dd><%= @user.email %></dd>
  </dl>
</div>


<%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary' %>
<%= link_to 'Back', users_path, class: 'btn btn-default' %>
